<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TsukasaChan.ShopVault.mapper.order.OrderMapper">

    <resultMap id="BaseResultMap" type="com.TsukasaChan.ShopVault.entity.order.Order">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="orderNo" column="order_no" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="totalAmount" column="total_amount" jdbcType="DECIMAL"/>
            <result property="payAmount" column="pay_amount" jdbcType="DECIMAL"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="receiverSnapshot" column="receiver_snapshot" jdbcType="VARCHAR"/>
            <result property="trackingCompany" column="tracking_company" jdbcType="VARCHAR"/>
            <result property="trackingNo" column="tracking_no" jdbcType="VARCHAR"/>
            <result property="paymentTime" column="payment_time" jdbcType="TIMESTAMP"/>
            <result property="deliveryTime" column="delivery_time" jdbcType="TIMESTAMP"/>
            <result property="receiveTime" column="receive_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="autoReceiveTime" column="auto_receive_time" jdbcType="TIMESTAMP"/>
            <result property="isExtended" column="is_extended" jdbcType="TINYINT"/>
            <result property="closeTime" column="close_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,order_no,user_id,total_amount,pay_amount,status,
        receiver_snapshot,tracking_company,tracking_no,payment_time,delivery_time,
        receive_time,create_time,auto_receive_time,is_extended,close_time
    </sql>
</mapper>
