<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TsukasaChan.ShopVault.mapper.marketing.UserVipInfoMapper">

    <resultMap id="BaseResultMap" type="com.TsukasaChan.ShopVault.entity.marketing.UserVipInfo">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="vip_level" property="vipLevel"/>
        <result column="discount_rate" property="discountRate"/>
        <result column="vip_expire_time" property="vipExpireTime"/>
        <result column="total_vip_days" property="totalVipDays"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, vip_level, discount_rate, vip_expire_time, total_vip_days, create_time, update_time
    </sql>

</mapper>
