<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.TsukasaChan.ShopVault.mapper.marketing.VipMembershipMapper">

    <resultMap id="BaseResultMap" type="com.TsukasaChan.ShopVault.entity.marketing.VipMembership">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type" property="type"/>
        <result column="vip_level" property="vipLevel"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="points_cost" property="pointsCost"/>
        <result column="source" property="source"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, type, vip_level, start_time, end_time, status, points_cost, source, create_time
    </sql>

</mapper>
